---
title: Team
---

<div id="team" class="container text-center padded">
  <h1>Our team</h1>
  <ul class="list-inline">
    <li>
      <%= image_tag "http://placehold.it/130x130", class: "img-circle" %>
      <h2>Homer</h2>
    </li>
    <li>
      <%= image_tag "http://placehold.it/130x130", class: "img-circle" %>
      <h2>Marge</h2>
    </li>
    <li>
      <%= image_tag "http://placehold.it/130x130", class: "img-circle" %>
      <h2>Bart</h2>
    </li>
    <li>
      <%= image_tag "http://placehold.it/130x130", class: "img-circle" %>
      <h2>Lisa</h2>
    </li>
  </ul>

  <h3 class="padded">
    <% link_to "mailto:contact@airbnb.com" do %>
      <i class="fa fa-envelope"></i> contact@airbnb.com
    <% end %>
  </h3>
</div>
